<link rel="stylesheet" href="css/adminlogin.css">



<div class="topnav">
  <a  href="/">Login</a>
</div>

<form action="/register" class="login-page" method="POST">
    <p class="heading">Admin Login</p>
    <input type="email" name="email" id="email" class="text" placeholder="Enter Email">
    <input type="password" name="pass" id="pass" class="text" placeholder="Enter Password">
    <input type="submit" value="LogIn" class="btn">
</form>