<link rel="stylesheet" href="css/login.css">



<div class="topnav">
  <a  href="admin">Admin</a>
</div>

<form class="login-page" action="/home" method="POST">
    <p class="heading">Login</p>
    <input type="email" name="email" id="" class="text" placeholder="Enter Email">
    <input type="password" name="pass" id="" class="text" placeholder="Enter Password">
    <input type="submit" value="LogIn" class="btn">
</form>