<link rel="stylesheet" href="css/register.css">



<div class="topnav">
  <a  href="admin">Admin</a>
</div>

<form class="login-page" action="/login" method="POST">
    <p class="heading">Register</p>
    <input type="email" name="email" id="email" class="text" placeholder="Enter Email">
    <input type="password" name="pass" id="pass" class="text" placeholder="Enter Password">
    <input type="submit" value="Register" class="btn">
</form>